@import "variables";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  background-color: $primary--color;
}
.main_container {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  background-color: $primary--color;
};
main{
  height: calc(100vh - 180px);
  @media (max-width: 1600px) {
    padding-inline: 3rem;
  }
  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
  }
}
.btn{
  align-self: start;
}
.h2_description{
  margin:  3rem 0 ;
}
q{
  margin-top:  3rem;
  display: inline-block;
}
.err_msg{
  color: red;
  margin-bottom: 1rem;
}