@import "variables";
body{
  background-color: orange;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}
main{
  height: calc(100vh - 180px);
  @media (max-width: 1600px) {
    padding-inline: 3rem;
  }
  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
  }
}
.btn{
  padding: 10px 1rem;
  margin-bottom: 1rem;
  width: 150px;
  background-color: $secondary--color;
  color: $primary--color;

}
.h2_description{
  margin:  3rem 0 ;
}
q{
  margin-top:  3rem;
  display: inline-block;
}
.err_msg{
  color: red;
  margin-bottom: 1rem;
}
.home_photo{
  display: flex;
  align-items: flex-end;
}
.notFound{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}