@import "../colors";

.PhysicalActivityBody{
  margin-bottom: 5rem;
  @media (max-width: 1600px) {
    margin: 2rem;
  }
}

//form
.form {
  display: flex;
  flex-direction: column;

  &__field{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  &__label{
    font-weight: bold;
    text-transform: uppercase;
    color: $secondary--color;
    line-height: 0.9rem;
    letter-spacing: 3px;
    font-size: 0.6875rem;
  }
  &__input{
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    line-height: 2.625rem;
    padding-left: 0.5rem;
  }
  &_buttons{
    @media (max-width: 420px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
    }
  }
  }
.btn_add{
  margin-right: 1rem;
  @media (max-width: 420px) {
    margin-right: 0;
  }
}
//table
table{
  width: 100%;
  border-collapse: collapse;
}

td, th{
  text-align: center;
 border: 1px solid black;
  padding: 1rem;
}
.btn--delete, .btn--edite{
  background: none;
  border: none;
  margin-top: 6px;
  cursor: pointer;
}
.toogle_button{
  margin-bottom: 1rem;
}


@media (max-width: 600px) {
  th {
    display: none; /* Ukryj nagłówki na małych ekranach */
  }

  td {
    display: block;
  }
}



